html{
  font-size: 18px;
}

body{
  font-family: Helvetica;
}

.logocontainer{
  background-color: black;
  color: white;
  font-size: 1rem;
}

.logo img{
  height: 1.5rem;
  padding-right: 1rem;
}

.logocontainer .logo {
    display: flex;
    align-items: center;
    padding-top: 0.66rem;
    padding-bottom: 0.66rem;
    padding-left: .5rem;
}

.container{
  max-width: 960px;
  margin: 0 auto;
}

.banner-container{
  height: 25rem;
  background-image: url(../images/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner-text{
  color: white;
  width: 20rem;
  background-color: black;
  position: relative;
  padding: 2rem 3rem;
  top: 9rem;
}

.banner-text h4{
  font-weight: bold;
}

.banner-text h1{
  font-weight: bold;
  margin: 0.25rem 0;
  font-size: 2rem;
}
